{
  "traders": [
    {
      "id": "okx_deepseek",
      "name": "OKX DeepSeek Trader",
      "enabled": true,
      "ai_model": "deepseek",
      "exchange": "okx",
      "okx_api_key": "5f188701-a2e2-4ff7-ba1c-8eaa41ee5204",
      "okx_secret_key": "4EC4B4871C516FA396C1DDC6E49C137A",
      "okx_password": "Aa@110110",
      "deepseek_key": "sk-c89ec40e81614abea2a21f054ec18662",
      "initial_balance": 1000,
      "scan_interval_minutes": 3
    },
    {
      "id": "okx_qwen",
      "name": "OKX Qwen Trader",
      "enabled": true,
      "ai_model": "qwen",
      "exchange": "okx",
      "okx_api_key": "5f188701-a2e2-4ff7-ba1c-8eaa41ee5204",
      "okx_secret_key": "4EC4B4871C516FA396C1DDC6E49C137A",
      "okx_password": "Aa@110110",
      "qwen_key": "sk-57ba1b0068f24474be13bbaf4ec82ac5",
      "qwen_model": "qwen3-max",
      "qwen_temperature": 0.1,
      "qwen_max_tokens": 2000,
      "initial_balance": 1000,
      "scan_interval_minutes": 3
    }
  ]
}